body {
margin:8px 0;
padding:12px 20px;
border:1px solid white;
box-sizing: border-box;
;
width: 100%;
height: 100% ;
;
}

form
{   background-color: rgb(185, 185, 185);
    padding:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user input{
    
    display: flex;
    justify-content: center;
    width:100%;
    
}

.center {
    display: flex;
    justify-content: center;
   

 

    
  
}

.button {display: flex;
    
    width: 80px;
    height: 30px;
    border-width: 4px;
    border-color:blue;
    font-size: 20px;


}